@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/hero_indiana_jones.jpeg);
    display: block;
    background-size: cover;

    @media (max-width: 1180px) {
        background-image: url(../images/hero.png);
        padding-top: 60vw;
    }

    @media (max-width: 768px) {
        background-image: url(../images/hero.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 50vw;
    }

    &__content {
        max-width: 874px;
        display: block;
        

        &__title {
            padding-top: 36px;
            padding-bottom: 16px;
            max-width: 341px;

            @media (max-width: 1180px) {
                max-width: 640px;
                display: block;
            }

            @media (max-width: 768px) {
                max-width: 280px;
                display: block;
            }
        }

        .title {
            margin-bottom: 8px;
        }

        &__classificacao {
            align-items: center;
            display: flex;

            img {
                height: 20px;
                margin-right: 5px;
            }

            .p {
                margin-top: 5px;
            }
        }

        button {
            display: block;
            margin-top: 36px;
            padding: 0 20px;
            height: 50px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1.5px;
            background-color: variaveis.$corBotao;
            color: variaveis.$corTextoPrincipal;
            border-style: none;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            width: auto;
            cursor: pointer;
        }

        .text--medium {
            display: block;
            padding-top: 24px;
        }
    }
}